.btn {
  @include font-style(17px, 16px);

  color: $color-light-black;
  text-decoration: none;
  text-transform: uppercase;

  display: block;

  border: 2px solid $color-light-black;
  text-align: center;
  padding: 17px 0;

  &:hover {
    background: $color-light-black;
    color: #fff;
  }

  &:active {
    color: $color-btn-active;
  }

  &--basket {
    background: $color-light-green;
    border: 2px solid $color-light-green;
    color: #fff;
    width: 100%;
  }

  &--order {
    @media ($tablet-widths) {
      width: 290px;
    }
  }

  &--reviews {
    @media ($tablet-widths) {
      width: 172px;

      position: absolute;
      top: 80px;
      right: 0;
    }
  }

  &--write {
    @media ($tablet-widths) {
      width: 230px;

      margin: 0 auto;
    }

    @media ($desktop-widths) {
      margin: 0;
    }
  }

  &--send {
    width: 100%;
    background: #fff;

    @media ($tablet-widths) {
      width: 230px;
    }

    @media ($desktop-widths) {
      margin-left: 175px;
    }
  }

  &--make {
    @media ($desktop-widths) {
      width: 230px;
    }
  }
}
