body {
  margin: 0;
  padding: 0;

  font-family: "OpenSans", "Times New Roman", sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.page-wrapper {
  @include container();
  @include clearfix();
}

ul {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}
