.main-about-us {
  padding-top: 30px;
  padding-bottom: 35px;
}

.main-about-us__title {
  @include font-style(25px, 30px);
  margin: 0;
  margin-bottom: 20px;
}

@media ($tablet-widths) {
  .main-about-us {
    padding-top: 60px;
    padding-bottom: 27px;
  }

  .main-about-us__title {
    @include font-resize(43px, 50px);

    margin-bottom: 40px;
  }
}

@media ($desktop-widths) {
  .main-about-us {
    padding-top: 72px;
    padding-left: 175px;
    padding-bottom: 33px;
  }

  .main-about-us__title {
    @include font-resize(53px, 57px);
  }
}
