.main-nav {
  margin: -50px -30px 0;
}

.main-nav__list {
  list-style: none;
}

.main-nav__list-link {
  @include font-style(19px, 24px);

  display: block;
  min-height: 53px;
  padding: 25px 30px;

  color: #fff;

  &--interior {
    background: $color-light-green;

    &:active {
      color: $color-green-interior;
    }
  }

  &--toys {
    background: $color-green;

    &:active {
      color: $color-green-toy;
    }
  }


}

@media ($tablet-widths) {

  .main-nav {
    display: flex;
    margin: 0;
    margin-top: -104px;
  }

  .main-nav__list {
    display: flex;
    width: 100%;
  }

  .main-nav__list-item {
    width: 50%;
  }

  .main-nav__list-link {
    @include font-resize(20px, 30px);
    padding: 30px 35px;
  }

}

@media ($desktop-widths) {
  .main-nav__list-link {
    padding: 30px 40px;

    &:hover {
      margin-top: -5px;
      padding-bottom: 35px;
    }
  }
}
