.main-contacts {
  padding-top: 25px;
  padding-bottom: 35px;

  @include font-resize(15px, 30px);
}

.main-contacts__title {
  @include font-style(18px, 30px);

  margin-bottom: 22px;
}

.main-contacts__list {
  margin-bottom: 10px;
  padding-top: 5px;

  border-collapse: collapse;
}

.main-contacts__value {
  width: 75px;
  padding-bottom: 30px;
  vertical-align: top;
}

.main-contacts__field {
  padding-bottom: 30px;
  vertical-align: top;

  position: relative;

  &--bordered {
    cursor: pointer;
  }

  &--bordered:hover {
    color: $color-light-green;
  }

  &--bordered:active {
    opacity: 0.3;
  }

  &--bordered:after {
    content: "";

    display: block;
    height: 1px;
    background: $color-light-green;
  }
}

.main-contacts__map {
  height: 455px;
  margin: 0 -30px 40px;

  background: $color-grey url("../img/map-mobile@1x.jpg") no-repeat;
  background-position: 50% 0;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  .main-contacts__map-inner {
    height: 455px;
  }
}

@media ($tablet-widths) {
  .main-contacts {
    padding-top: 30px;
    padding-bottom: 58px;
  }

  .main-contacts__title {
    @include font-resize(43px, 50px);
    position: relative;

    margin-bottom: 45px;

    &:after {
      content: "";

      display: block;
      width: 50px;
      height: 90px;

      position: absolute;
      right: 0;
      top: -15px;

      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  .main-contacts__list {
    @include font-resize(17px, 30px);

    width: 100%;
    margin-bottom: 30px;
  }

  .main-contacts__list tbody {
    display: flex;
    width: auto;
    justify-content: space-between;
  }

  .main-contacts__item--left {
    width: 50%;
  }


  .main-contacts__map {
    margin: 0 -50px 55px;

    background-image: url("../img/map-tablet@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }
}

@media ($desktop-widths) {
  .main-contacts {
    position: relative;

    padding-top: 100px;
    padding-left: 175px;
    padding-bottom: 108px;
  }

  .main-contacts__title {
    @include font-resize(53px, 57px);

    margin-bottom: 50px;

    &:after {

      left: -110px;
      top: -7px;
    }
  }

  .main-contacts__list {
    margin-bottom: 45px;
    width: 350px;
  }

  .main-contacts__list tbody {
    display: table;
    width: auto;
  }

  .main-contacts__field {
    width: 250px;

    &--address br {
      display: none;
    }

    &--bordered::after {
      width: 80%;
    }
  }

  .main-contacts__map {
    width: 525px;
    height: 455px;

    position: absolute;
    right: 50px;
    top: 85px;

    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }

  .main-contacts__map-inner {
    width: 525px;
    height: 455px;
  }
}
