.main-reviews {
  padding-bottom: 40px;

  border-bottom: 2px solid $color-grey;
}

.main-reviews__title {
  @include font-style(25px, 30px);
}

.main-reviews__author {
  @include link-style();
  @include font-style(18px, 24px);

  display: block;
}

.main-reviews__username {
  @include link-style();

  font-size: 18px;
  line-height: 30px;

  display: block;
}
