.make-process {
  padding: 7px 34px 32px;

  border: 1px solid $main-color-border;
}

.make-process__title {
  @include font-style();

  margin-left: 55px;
  margin-bottom: 25px;
}

.make-process__text {
  @include font-resize(13px, 24px);
}

.make-process__description {
  margin-top: 0;
  margin-bottom: 24px;
}

.make-process__image {
  margin: 0 -34px 20px;
}

@media ($tablet-widths) {

  .make-process {
    padding: 0;

    display: flex;
    flex-direction: column;
  }

  .make-process__image {
    margin: 0;

    order: -1;
    padding-bottom: 306px; //пока нет картинки
  }

  .make-process__title {
    @include font-resize(20px, 24px);

    margin: 38px 30px 30px 105px;
  }

  .make-process__description {
    margin-bottom: 35px;
  }

  .make-process__text {
    @include font-resize(15px, 30px);

    padding: 2px 40px 45px;
  }

}

@media ($desktop-widths) {
  .make-process {
    width: 100%;
    align-items: flex-end;

    position: relative;
  }

  .make-process__image {
    width: 681px;
  }

  .make-process__title {
    width: 230px;

    margin: 95px 60px 32px 30px;
  }

  .make-process__description {
    width: 250px;

    font-size: 15px;
    line-height: 30px;

    margin-bottom: 48px;
  }

  .make-process__image {
    position: absolute;

    left: 0;
    top: 0;
  }

  .make-process__text {
    @include font-resize(15px, 30px);

    padding: 2px 40px 55px 40px;
  }
}
