.menu-list {
  margin: 0 -30px;
}

.menu-list__items {
  display: flex;
  flex-direction: column;
  z-index: 3;

  list-style: none;

  position: absolute;
  top: 84px;
  width: 320px;
  background: #fff;
}

.menu-list--no-js .menu-list__switch {
  display: none;
}

.menu-list--no-js .menu-list__items {
  position: static;
}

.menu-list--no-js .menu-list__item--logo {
  position: static;
  margin-left: 0;
}

.menu-list--no-js .menu-list__item--catalog {
  border-top: 1px solid $main-color-border;
}

.menu-list__switch {
  display: block;
  font-size: 0;
  border: none;
  background: transparent;

  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;

  top: 30px;
  right: 32px;

  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.menu-list--close .menu-list__switch {
  border-bottom: 2px solid #000;

  &::before,
  &::after {
    content: "";

    display: block;
    height: 2px;
    width: 20px;
    position: absolute;

    background: #000;
  }

  &::before {
    bottom: 5px;
  }

  &::after {
    bottom: 12px;
  }

}

.menu-list--open .menu-list__switch {

  border: none;

  &::before,
  &::after {
    content: "";

    display: block;
    height: 2px;
    width: 25px;
    position: absolute;

    background: #000;
  }

  &::before {
    top: 50%;
    right: -3px;
    transform: rotate(45deg);
  }

  &::after {
    top: 50%;
    right: -3px;
    transform: rotate(-45deg);
  }

}

.menu-list__item {
  padding: 0 30px;
  min-height: 54px;

  border-bottom: 1px solid $main-color-border;

  &--logo {
    text-align: center;
    padding: 15px 0 10px;

    border: none;
    position: absolute;
    top: -73px;
    left: 50%;
    margin-left: -45px;
  }
}

.menu-list__link {
  @include font-style();

  display: block;
  padding: 25px 0;
  margin-left: 45px;



  &:active {
    opacity: .3;
  }

  &--search,
  &--basket {
    position: relative;

    &:active .menu-list__icon {
      fill: $color-light-green;
    }
  }
}

.menu-list__icon-container {
  position: absolute;
  top: 50%;
  left: -45px;
  margin-top: -7px;
}

.menu-list__icon {
  fill: $color-icons-menu;
}

@media ($tablet-widths) {
  .menu-list {
    max-height: 85px;

    margin: 0;
  }

  .menu-list__items {
    flex-direction: row;
    flex-wrap: wrap;

    position: static;
    background: transparent;
    width: 100%;
  }

  .menu-list__switch {
    display: none;
  }

  .menu-list__item {
    display: block;
    width: auto;
    border-bottom: none;

    &--logo {
      width: 320px;
      text-align: left;
      margin-left: 0;
      padding-top: 18px;
      padding-bottom: 7px;

      position: static;
    }

    &--search {
      order: 0;
      width: 20px;

      border-left: 1px solid $main-color-border;
      border-right: 1px solid $main-color-border;
    }

    &--basket {
      order: 0;
      width: auto;

      padding-right: 0;
      padding-left: 35px;
    }

    &--catalog {
      order: 1;
      z-index: 2;

      padding-left: 0;
    }

    &--form {
      order: 1;
      z-index: 2;

      padding: 0;
    }

    &--delivery {
      order: 1;
      z-index: 2;

      padding: 18px 0;
      margin-left: auto;
    }

    &--new {
      display: none;
    }

    &--sale {
      display: none;
    }
  }

  .menu-list__link--catalog {
    @include font-resize(15px, 24px);

    margin: 0;
    padding-top: 18px;
  }

  .menu-list__link--form {
    @include font-resize(15px, 24px);

    margin: 0;
    padding: 18px 3px;
  }

  .menu-list__link--search {
    margin: 0;
    font-size: 0;

    padding-top: 27px;
    padding-bottom: 34px;
  }

  .menu-list__link--basket {
    padding-top: 27px;
    margin-left: 49px;
  }

  .menu-list__icon-container {
    left: -50px;

    &--search {
      left: 4px;
      margin-top: -10px;
    }
  }
}

@media ($desktop-widths) {
  .menu-list__item {
    &--logo {
      order: 1;

      width: auto;
      margin-right: auto;
      padding-top: 5px;
      padding-bottom: 0;

      &:hover {
        opacity: .6;
      }

      &:active {
        opacity: .3;
      }
    }

    &--search {
      order: 2;
    }

    &--basket {
      order: 2;
    }

    &--catalog {
      order: 0;

      padding-right: 35px;
      border-right: 1px solid $main-color-border;
    }

    &--form {
      order: 0;

      padding: 0 30px;
      margin-right: 45px;
    }

    &--delivery {
      order: 3;
    }

    &--new {
      display: block;
      order: 3;
      z-index: 2;

      padding-left: 0;
    }

    &--sale {
      display: block;
      order: 3;
      z-index: 2;
    }
  }

  .menu-list__link--search:hover .menu-list__icon,
  .menu-list__link--basket:hover .menu-list__icon {
    opacity: none;
    fill: $color-light-green;
  }

  .menu-list__link--search:hover .menu-list__link-text,
  .menu-list__link--basket:hover .menu-list__link-text {
    opacity: .6;
  }

  .menu-list__link--new {
    @include font-resize(15px);
    margin: 0;

    padding: 18px 0;

    &:hover {
      opacity: .6;
    }
  }

  .menu-list__link--sale {
    @include font-resize(15px);
    margin: 0;

    padding: 18px 0;

    &:hover {
      opacity: .6;
    }
  }

  .menu-list__link--catalog {
    @include font-resize();

    padding-top: 27px;

    &:hover {
      opacity: .6;
    }
  }

  .menu-list__link--form {
    @include font-resize();

    padding-top: 27px;

    &:hover {
      opacity: .6;
    }
  }

  .menu-list__icon-container {
    left: -53px;

    &--search {
      left: 0;
      margin-top: -10px;
    }
  }
}
