.page-footer {
  background: $color-grey;

  text-align: center;
}

.page-footer__social {
  padding: 30px;

  border-bottom: 2px solid $color-border-footer;
}

.page-footer__maker {
  padding: 30px 0;
}

.page-footer__maker-text {
  @include font-style(19px, 18px);
}

.page-footer__logo {
  display: none;
}

.page-footer__maker-link {
  font-size: 0;
}

@media ($tablet-widths) {
  .page-footer {
    @include clearfix();
  }

  .page-footer__logo {
    display: block;
    float: left;
    height: 40px;
    margin-right: 130px;

    padding: 50px 0;
  }

  .page-footer__social {
    border: none;
    float: left;
    line-height: 40px;

    padding: 50px 0;
  }

  .page-footer__maker {
    float: right;
    line-height: 40px;
    padding: 50px 0 40px;
    margin-right: 55px;
  }
}

@media ($desktop-widths) {
  .page-footer__logo {
    display: block;
    float: left;
    margin-right: 330px;

    padding: 50px 0;
  }
}
