.page-footer {
  background: $color-grey;

  text-align: center;
}

.page-footer__social {
  padding: 30px 0 23px;

  border-bottom: 2px solid $color-border-footer;
}

.page-footer__maker {
  padding: 26px 0;
}

.page-footer__maker-text {
  @include font-style(19px, 18px);

  margin-right: 56px;
}

.page-footer__logo {
  display: none;
}

.page-footer__maker-link {
  font-size: 0;
}

@media ($tablet-widths) {
  .page-footer {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
    height: 40px;
    margin-right: auto;

    padding: 50px 0;
  }

  .page-footer__social {
    border: none;
    line-height: 40px;

    margin-right: auto;

    padding: 50px 0;
  }

  .page-footer__maker {
    line-height: 40px;
    padding: 50px 0 40px;
  }
}
